* {
  margin: 0;
  padding: 0;
}

:root {
  /*blue*/
  /*
  --primary: #fbfbfb;
  --secondary: #1a1b1d;
  --color-sidebar-primary: #415ae8;
  --color-sidebar-secondary: #3c50cb;
  --color-content:#f4f4f4;
  */
   /*blue*/
  
  --primary: #576484;
  --secondary: #fbfbfb;
  --color-sidebar-primary: #fbfbfb;
  --color-sidebar-secondary: #0183FF;
  --color-content:#f4f4f4;
 

  /*white*/
  /*--primary: #71767b;
  --secondary: #1a1b1d;
  --color-sidebar-primary: #fbfbfb;
  --color-sidebar-secondary: #efefef;
  --color-content: #e1e6ef;*/

  /*dark-mode*/

  --primary-darkmode: #71767b;
  --secondary-darkmode: #fbfbfb;
  --color-sidebar-primary-darkmode: #1a1c1e;
  --color-sidebar-secondary-darkmode: #0183FF;/*
  --color-content-darkmode: #111315;*/
}